## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [61]:
citta=['Londra','Milano','Parigi','Cali', 'Madrid']

print(citta)

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid']

2) Imprimir por pantalla el segundo elemento de la lista

In [3]:
print(citta[1])

Milano

3) Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(citta[1:4])

['Milano', 'Parigi', 'Cali']

4) Visualizar el tipo de dato de la lista

In [5]:
type(citta)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [8]:
citta[2:]

['Parigi', 'Cali', 'Madrid']

6) Visualizar los primeros 4 elementos de la lista

In [117]:
citta[:4]

['Londra', 'Milano', 'Parigi', 'Cali']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [119]:
citta.append('Londra')
print(citta)

citta.append('Bangkok')
print(citta)

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Londra']
['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Londra', 'Bangkok']

8) Agregar otra ciudad, pero en la cuarta posición

In [16]:
citta.insert(3,'Berlino')
print(citta)

['Londra', 'Milano', 'Parigi', 'Berlino', 'Cali', 'Madrid', 'Londra', 'Bangkok']

9) Concatenar otra lista a la ya creada

In [19]:
cities = ('London', 'Milan', 'Paris', 'Berlin')
print(cities)

citta.extend(cities)
print(citta)

('London', 'Milan', 'Paris', 'Berlin')
['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'London', 'Milan', 'Paris', 'Berlin']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [120]:
print(citta)

n=citta.index('Bangkok')
print(n)

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Londra', 'Bangkok']
6

11) ¿Qué pasa si se busca un elemento que no existe?

In [24]:
citta.index('New York')

ValueError: 'New York' is not in list

12) Eliminar un elemento de la lista

In [35]:
citta.remove('Parigi')
print(citta)

['Londra', 'Milano', 'Cali', 'Madrid']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [36]:
citta.remove('Lima')

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [37]:
p=citta.pop()
print(p)

Madrid

15) Mostrar la lista multiplicada por 4

In [38]:
print(citta*4)

['Londra', 'Milano', 'Cali', 'Londra', 'Milano', 'Cali', 'Londra', 'Milano', 'Cali', 'Londra', 'Milano', 'Cali']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [46]:
#tup=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

lista=list()

for i in range(1,21):
    lista.append(i)

print(lista)

tup=tuple(lista)
print(tup)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [121]:
#for i in range(10,16):
    #print(tup[i])

print(tup[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [122]:
#for i in range(20,31):
    
 #   if i in tup:
  #      print(i,' esta en la tupla')
   # else:
    #    print(i,' no esta en la tupla')

print(20 in tup)
print(30 in tup)

True
False

In [132]:
citta=['Londra','Milano','Parigi','Cali', 'Madrid']

print(citta)

c=citta[2]
print(c)

c=='Paris'

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid']
Parigi

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [102]:
n=len(citta)
print(n)
no_esta=True

for i in range(0,n):

    c=citta[i]
    print(c)

    if c=='Paris':
        print('Paris ya se encuentra en la lista')
        no_esta=False
        break
    

if no_esta:
    citta.append('Paris')

print(citta)

6
Londra
Milano
Parigi
Cali
Madrid
Paris
Paris ya se encuentra en la lista
['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris']

In [129]:
c='Paris'

if c in citta:
    
    print(c,'ya esta en la lista')
       
else:
    citta.append(c)
    

print(citta)

Paris ya esta en la lista
['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [105]:
citt2=citta*3
print(citt2)

print('en lista: ',citt2.count('Londra'))

citt3=tuple(citta*4)
print('en tupla:',citt3.count('Londra'))

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris', 'Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris', 'Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris']
en lista:  3
en tupla: 4

21) Convertir la tupla en una lista

In [106]:
citt4=list(citt3)
type(citt4)

list

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [108]:
ctup=tuple(citta)
print(ctup)

c1,c2,c3,_,_,_=ctup
print(c1)
print(c2)
print(c3)

('Londra', 'Milano', 'Parigi', 'Cali', 'Madrid', 'Paris')
Londra
Milano
Parigi

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [134]:
print(citta)
paesi=['Inghilterra','Italia','Francia','Colombia','Spagna']
continenti=['Europa','Europa','Europa','America','Europa']
dicc={'Ciudad':citta,'Pais':paesi,'Continente':continenti}
print(dicc)

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid']
{'Ciudad': ['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid'], 'Pais': ['Inghilterra', 'Italia', 'Francia', 'Colombia', 'Spagna'], 'Continente': ['Europa', 'Europa', 'Europa', 'America', 'Europa']}

24) Imprimir las claves del diccionario

In [137]:
print(dicc.keys())

dict_keys(['Ciudad', 'Pais', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [135]:
print(dicc['Ciudad'])

['Londra', 'Milano', 'Parigi', 'Cali', 'Madrid']