## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a=12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [5]:
b = "Carolina"

5) Crear una variable que contenga un número complejo

In [1]:
c = complex(4,8)
print(c)

x=5+6j
print(x)

(4+8j)
(5+6j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [12]:
import math
e=math.pi
d=round(e,4)

print(d)
print(e)

3.1416
3.141592653589793

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
t1='True'
t2=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [18]:
print(type(t1))
print(type(t2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
f=5+4.6
print(f)

9.6

11) Realizar una operación de suma de números complejos

In [20]:
print(c)
g=complex(5,9)
h=c+g
print(h)

(4+8j)
(9+17j)

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
print(a)
print(a+h)

12
(21+17j)

13) Realizar una operación de multiplicación

In [22]:
k=5
j=a*k
print(j)

60

14) Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
l=27/4
print(l)

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
m=27//4
print(m)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
n=27%4
print(n)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
o=4*m+n
print(o)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [44]:
p='Cada ' +'uno'
print(p)
print('Tambien '+'asi')

Cada uno
Tambien asi

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [45]:
q="2"
r=2

q==r

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [32]:
s=int(q)
print(r==s)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
#Los numeros soncon punto
a=float("3.8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [38]:
t=3
t-=1
print(t)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [47]:
u=1 << 2
print(u)

True

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
print(2+'2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
v=5+int('28')
print(v)

var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

33
este texto se repite este texto se repite este texto se repite 3 veces